{% extends "base.html" %}

{% block title %}
  {{ title }}
{% endblock %}

{% block content %}

  <div class="container mx-auto">

    <form action="/index" method="post">
      <div class="mb-6">
        <label for="title" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Website Title</label>
        <input type="text" name="title" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Google" required="" value="Untitled"/>
      </div>
      <div class="mb-6">
        <label for="url" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Website URL</label>
        <input type="text" name="url" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="https://www.google.com" required="">
      </div>
      <div class="mb-6">
        <label for="interval" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400">Select your country</label>
        <select name="interval" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
          <option>1 Min</option>
          <option>15 Min</option>
          <option>30 Min</option>
          <option>45 Min</option>
          <option>60 Min</option>
        </select>
      </div>

      <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
    </form>
    <br>

    <div>
      <div class="overflow-x-auto relative">
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
          <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
              <th scope="col" class="py-3 px-6">
                    Title
                </th>
              <th scope="col" class="py-3 px-6">
                    URL
                </th>
              <th scope="col" class="py-3 px-6">
                    Status
                </th>
              <th scope="col" class="py-3 px-6">
                    Interval
                </th>
            </tr>
          </thead>
          <tbody>
            {% for website in websites%}

              <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                  {{ website.title }}
                </th>
                <td class="py-4 px-6">
                  {{ website.url }}
                </td>
                <td class="py-4 px-6">
                  {{ website.title }}
                </td>
                <td class="py-4 px-6">
                  {{ website.interval }}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

  </div>

{% endblock %}